.fa-solid {
    font-size: 1.5em;
    padding:10px;
}

.loading {
    font-size: 1.5em;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .fa-solid {
        font-size: 2em;
    }
    
    .loading {
        font-size: 2em;
    }
}
